<h1 class="page-header">About Local Puppy Rescue</h1>

<p>Local puppy rescue is all about rescuing the most puppies possible and connecting them to loving homes and families.</p>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris id leo leo. Aliquam erat volutpat. Praesent varius, eros sit amet suscipit vehicula, nisl neque venenatis sem, sit amet dignissim nisl augue non ex. Curabitur semper sagittis odio vel varius. Curabitur dignissim tincidunt viverra. Etiam sagittis suscipit ex a posuere. Fusce vitae enim eros. Proin nec porttitor nisl. Nam sed ex vehicula, volutpat tortor in, consectetur tellus. Donec maximus feugiat leo vel malesuada. Vestibulum ullamcorper facilisis nunc, in iaculis ex lacinia vel. Sed sagittis viverra augue, sed semper lectus commodo at. Duis bibendum nec nunc eu finibus. Vestibulum pulvinar bibendum lorem non consectetur.
</p>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris id leo leo. Aliquam erat volutpat. Praesent varius, eros sit amet suscipit vehicula, nisl neque venenatis sem, sit amet dignissim nisl augue non ex. Curabitur semper sagittis odio vel varius. Curabitur dignissim tincidunt viverra. Etiam sagittis suscipit ex a posuere. Fusce vitae enim eros. Proin nec porttitor nisl. Nam sed ex vehicula, volutpat tortor in, consectetur tellus. Donec maximus feugiat leo vel malesuada. Vestibulum ullamcorper facilisis nunc, in iaculis ex lacinia vel. Sed sagittis viverra augue, sed semper lectus commodo at. Duis bibendum nec nunc eu finibus. Vestibulum pulvinar bibendum lorem non consectetur.

Nulla feugiat auctor nibh a vehicula. Suspendisse molestie convallis nunc id accumsan. Etiam hendrerit lectus libero, vitae malesuada augue egestas in. Vivamus finibus volutpat elit, in tempus nunc tristique non. Proin condimentum urna eros, eget scelerisque mi porta nec. Donec hendrerit, nunc et ornare feugiat, libero risus porttitor velit, quis volutpat risus justo nec purus. Proin auctor leo mattis mollis suscipit. Nunc risus odio, hendrerit eu faucibus eu, elementum ac libero.
  <h3>Adopt a puppy today!</h3>
</p>

<p>
  <%= image_tag("http://cuteanimalpicturesandvideos.com/wp-content/uploads/super-cute-puppy-look-awww-photo.jpg") %>
</p>
