<h1 class="page-header">About Local Puppy Rescue</h1>

<p>
  Local puppy rescue is all about rescuing the most puppies possible and connecting them to loving homes and families.  

  <h3>Adopt a puppy today!</h3>
</p>

<p>
  <%= image_tag("http://cuteanimalpicturesandvideos.com/wp-content/uploads/super-cute-puppy-look-awww-photo.jpg") %>
</p>