<div class="cover responsive">
	<div id="message" class="col-sm-6 col-sm-offset-1">
	  <h1 id="mainHeader">Local Puppy Rescue</h1>
	  <p>Welcome to the local puppy rescue! Save a puppy today!</p>
		<p>
			<%= link_to "Learn More!", "/about", id:"learnMore", class:"btn btn-primary btn-lg" %>
		</p>
	</div>
</div>
