<div class="cover">
	<div id="main-jumbo" class="jumbotron">
	  <h1 class="page-header">Local Puppy Rescue</h1>
	  <p>Welcome to the local puppy rescue! Save a puppy today!</p>
		<%= link_to "Learn More!", "/about", class:"btn btn-primary btn-lg" %> 
	  </p>
	</div>
</div>

