<div class="jumbotron">
  <h1 class="page-header">Local Puppy Rescue</h1>
  <p>Welcome to the local puppy rescue! Save a puppy today!</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>