<!DOCTYPE html>
<html>
<head>
  <title>PuppyCrudApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<button type="button" class="btn btn-default navbar-btn">See All Puppies!</button>
			<button type="button" class="btn btn-default navbar-btn">About</button>
			<button type="button" class="btn btn-default navbar-btn">Contact</button>
		</div>
  </div>
  <br>
  <div class="container">
    <%= yield %>	
  </div>

</body>
</html>
